.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .image {
        flex: 0 0 100%;
        margin: 10px;
        box-sizing: border-box;
    }
}


.image {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Регулируйте высоту по вашему усмотрению */
}

.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 110%;
    max-height: 80%; /* измените это значение по желанию */
    object-fit: contain;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.header-image {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    right: 10px; /* расположение изображения справа на 50px от края */
}
.fixed-contents {
    position: fixed;
    left: 2%; 
    top: 3%; 
  }