@font-face {
  font-family: 'Lobster Regular';
  src: url('font/Lobster-Regular.ttf');
}

body {
  font-family: 'Lobster Regular', sans-serif;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  body {
    display: block;
  }
}


.fixed-favicon {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.fixed-favicon img {
    width: 52px;
    height: 52px;
}

.background {
  background: #f1edec;
}

.header-line {
  display: flex;
  justify-content: center; /* выровнять элементы по горизонтали */
  align-items: center; /* выровнять элементы по вертикали */
  position: relative;
}

.header-title {
  color: #493535;
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
  flex-grow: 1; /* занимает все свободное пространство, выравнивая h1 по центру */
}

.header-image {
  width: 32px;
  height: 32px;
  position: absolute; 
  right: 50px;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    font-style: italic;
    font-size: 16px;
}

.header-container h2:first-child {
    margin-right: 200px;
}

.header-container h2:last-child {
    margin-right: 0;
}

body {
    background-color: rgb(247, 242, 243);
    margin: 0;
  }
  
 p {
    width: 300px;
    height: 160px;
    margin-top: 200px;
    margin-left: 300px;
    margin-bottom: 200px;
    color: #412b2b;
  }

.image {
    float: right;
    margin-left: 200px;
    width: 25%;
    opacity: 0.6;
    position: relative;
    left: -450px;
    top: -100px;
 }
  
 .playlist-button {
  width: 600px;
  height: 30px;
  background-color: rgb(230, 222, 224); /* Розовый цвет */
  color: white; /* Белый цвет текста */
  position: absolute; /* Для точного позиционирования кнопки */
  left: 300px; /* Отступ слева */
  top: 800px; /* Отступ сверху */
  border: none; /* Убираем рамку вокруг кнопки */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* При наведении становится рукой */
}

.white-bar {
  width: 100%;
  height: 200px;
  background: white;
  position: relative;
  margin-top: 500px;
  display: flex;
  justify-content: space-between; /* Изменение на space-between для распределения элементов по краям */
  align-items: center;
}

.white-bar span {
  color: rgb(61, 59, 59); /* Цвет текста */
  font-style: italic;
  color: #493535;
  font-size: 20px;
  font-family: "pacifico";
}

.reviews {
  margin-left: 110px; /* Отступ от левого края */
}

.contacts {
  margin-left: 140px; /* Отступ от предыдущего текстового блока */
}

.phone {
  margin-left: 130px; /* Отступ от предыдущего текстового блока */
}
.social-media {
  display: flex;
  margin-right: 100px; /* Отступ от правого края */
}

.social-media a {
  margin-left: 140px; /* Отступ между логотипами */
}

.social-media img {
  width: 62px; /* Установите размеры изображения согласно вашим потребностям */
}

.h2 {
  margin-left: 300px;
}

.h2-2 {
  margin-left: 900px;
}

.audio-player {
  position: absolute;
  top: 800px;
  left: 300px;
}
