.zigzag-line {
    width: 100%;
    height: 10px;
    background: linear-gradient(-45deg, #000 25%, transparent 25%, transparent 50%, #000 50%, #000 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    margin: 20px 0;
}

.foto-small {
    width: 200px;
}

.foto-middle {
    width: 400px;
}

.foto-big {
    width: 500px;
}

.fon {
    background-color: rgb(247, 231, 231);

}

.font-header1 {
    font-family: verdana;
    text-align: center; 
    color: rgb(7, 83, 7)
}

.font-header {
    font-size: 25px;
    text-align: center;
    color: rgb(5, 68, 5)
    
}

.blok-foto {
    display: flex;
    justify-content: center;
}


.paragraf-style {
    display: inline-block;
    font-size: 40px;
    text-align: center;
}

.centered-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-container {
    max-width: 100%;
}