@font-face {
    font-family: 'Lobster Regular';
    src:  url('Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @media screen and (max-width: 600px) {
  .image {
    flex: 0 0 100%;
    margin: 10px;
    box-sizing: border-box;
  }
  .poem img {
    width: 100%;
    height: auto;
  }

  p {
    margin-left: 5%;
    width: 90%;
  }

  .contents {
    margin-left: 0;
  }
}


.fixed-contents {
  position: fixed;
  left: 2%; 
  top: 3%; 
  text-align: left; 
}


@media screen and (max-width: 600px) {
  .fixed-contents {
    position: static; 
    text-align: center; /* Выравнивает текст по центру на мобильных устройствах */
  }
}
  

  .background {
      background: #e5eaf0;
      position: relative ;
}


  body {
      font-family: 'Lobster Regular', sans-serif;
}

  .font-header1 {
     color: #302525;
     font-size: 30px;
     text-align: center;
     font-family: 'Lobster Regular', sans-serif;
}
  
  .font-header2 {
     color: #302525;
     font-size: 18px;
     text-align: justify;
}

  p {
    font-family: 'fresca', sans-serif;
    width: 450px;
    margin-top: 1%;;
    margin-bottom: 2%; 
    color: #302525;
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
    text-align: center
}

@media screen and (max-width: 600px) {
  p {
    text-align: center;
    width: 85%;
    margin: 20px auto;
    font-size: 18px;
    text-align: justify;
   }
}

  h2 { 
    color: #302525;
    font-size: 25px;
    text-align: center;
    margin-bottom: 1%;
}


@media screen and (max-width: 600px) {
  h2 {
    color: #302525;
    margin-left: 10%;
    font-size: 18px; 
 }
}


.contents a {
  text-decoration: none; /* Убирает подчеркивание */
  color: #521010; /* Устанавливает цвет ссылки */
}

.contents a:hover {
  color: #a93226; /* Устанавливает цвет при наведении на ссылку */
}

.contents li {
  list-style-type: none; /* Убирает стандартные маркеры */
  padding-left: 1em; /* Добавляет немного пространства слева */
  text-indent: -1em; /* Отодвигает текст назад, создавая место для маркера */
}

.contents li::before {
  content: "*"; 
  color: #e03b2c;/* Вставляет маркер */
  padding-right: 10px; /* Добавляет немного пространства справа от маркера */
}


@media screen and (max-width: 600px) {
  .image {
    flex: 0 0 100%;
    margin: 10px;
    box-sizing: border-box;
  }
  .poem img {
    width: 100%;
    height: auto;
  }
}


  .contents {
    margin-left: 0;
  }

  .fixed-contents {
    position: static;
    text-align: center;
    width: 100%;
  }

.poem img {
  display: block;
  width: 590px;
  height: 680px;
  object-fit: cover; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 1%;
  margin-top: 1%;
}

@media screen and (max-width: 600px) {
  .poem img {
    width: 90%; 
    height: auto;
    margin-left: 5%; 
    margin-right: 5%;
  }
}

.poem {
  margin-bottom: 100px;
}

.image {
  margin-top: 100px;
  margin-bottom: 200px;
}

.header-image {
  width: 32px;
  height: 32px;
  margin-right: 50px;
  right: 50px; /* расположение изображения справа на 50px от края */
}

.audio-container {
  position: fixed;
}

.drag-area {
  width: 48px;
  height: 48px;
}

.audio-player {
  top: 50px;
  left: 5px;
}
